input, label, h1, h2, h3 {
  font: {
    family: Segoe UI, Tahoma, Verdana, Sans;
    size: 16px;
  }
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

body, p, span {
  font: {
    family: Calibri, Tahoma, Verdana, Sans;
    size: 16px;
  }
}
